table {
    width: 100%;
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

.content {
    max-width: 1200px;
    width: 100%;
}